/* .navbar-header {
    background:transparent;
} */


/* <div class="navbar-brand"><div style="height:"50px"; width:"150px"></div></div> */


navbar-brand {
    width:120px;
    font-size: 45px;
  }
.navbar-brand img {
    height: 40px;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }