
    <!-- Brand -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="\assets\images\logo.jpeg" ></a>  
    <ul class="navbar-nav">
     
  <li class="nav-item active">
    <a class="nav-link"[routerLink] ="['/userpage/customers']">Customer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[routerLink] = "['/userpage/pizza']">Pizza</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[routerLink] ="['/userpage/coupans']">Coupan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[routerLink] ="['/userpage/pizzaorder']">PizzaOrder</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="usersignOut()">Sign Out</a>
  </li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
  
  
  
  
  
  
  
  
  <!-- 
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/pizzalist']">View Pizza List <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/addPizza']">Add Pizza</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/deletepizza']">Delete Pizza</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/pizzaById']">PizzaBy Id</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/ByPizzType']">PizzaBy Type</a>
  </li> -->




<!-- 

  <ul class="user-navbar-nav">
      
    <li class="nav-item">
      <a class="nav-link"[routerLink] ="['/customers']">Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[routerLink] = "['/pizza']">Pizza</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[routerLink] ="['/coupans']">Coupan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[routerLink] ="['/pizzaorder']">PizzaOrder</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink] ="">Sign Out</a>
    </li>
   
  </ul> -->