<body>
  <div class="bg-img">

  
  
    
  <div id="main" class = "containerz">
   
  <h3  >  
  Welcome to Online Pizza Application
</h3>

</div><br>
<div class="adminlogin">
<div >
  <button type="button" class="btn btn-primary btn-lg btn-block "[routerLink]="['/adminlogin']">Login as Admin</button>

</div><br>
<div>
  <button type="button" class="btn btn-primary btn-lg btn-block " [routerLink]="['/login']">Login as a User</button>
</div>
</div>
</div>

</body>

<router-outlet></router-outlet>
